USE [master]
GO
/****** Object:  Database [PropertiesDb]    Script Date: 1/09/2025 8:57:41 p. m. ******/
CREATE DATABASE [PropertiesDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PropertiesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PropertiesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PropertiesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PropertiesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PropertiesDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PropertiesDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1/09/2025 8:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 1/09/2025 8:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Photo] [nvarchar](max) NULL,
	[Birthday] [date] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Owners] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Properties]    Script Date: 1/09/2025 8:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Properties](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[CodeInternal] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Properties] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyImages]    Script Date: 1/09/2025 8:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyImages](
	[Id] [uniqueidentifier] NOT NULL,
	[File] [nvarchar](200) NOT NULL,
	[Enabled] [bit] NOT NULL,
	[PropertyId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PropertyImages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyTraces]    Script Date: 1/09/2025 8:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyTraces](
	[Id] [uniqueidentifier] NOT NULL,
	[DateSale] [datetime2](7) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Value] [decimal](18, 2) NOT NULL,
	[Tax] [decimal](18, 2) NOT NULL,
	[PropertyId] [uniqueidentifier] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PropertyTraces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/09/2025 8:57:41 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250507012044_InitialCreate', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250507030324_Updated-owner-property-relationship', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250508012635_fix-decimal-value', N'9.0.4')
GO
INSERT [dbo].[Owners] ([Id], [Name], [Address], [Photo], [Birthday], [CreatedAt]) VALUES (N'99237a4f-34cd-4df1-a1d2-4934c39a3b75', N'John Doe', N'Colombia', N'https://blobstoragebmez.blob.core.windows.net/images/Owners%5C20250902004332credito.png', CAST(N'2025-09-02' AS Date), CAST(N'2025-09-02T00:43:32.4285368' AS DateTime2))
INSERT [dbo].[Owners] ([Id], [Name], [Address], [Photo], [Birthday], [CreatedAt]) VALUES (N'23de3867-34eb-4404-9452-7f6b72e6c593', N'owner', N'Medellin', N'', CAST(N'1995-09-02' AS Date), CAST(N'2025-09-02T01:51:09.3584913' AS DateTime2))
GO
INSERT [dbo].[Properties] ([Id], [Name], [Address], [Price], [CodeInternal], [Year], [OwnerId], [CreatedAt]) VALUES (N'1059023b-8651-431c-8510-e763d3581300', N'string', N'string', CAST(10000000.00 AS Decimal(18, 2)), N'238edc94-3c48-4830-bee2-ce4086b24a50', 2012, N'23de3867-34eb-4404-9452-7f6b72e6c593', CAST(N'2025-09-02T01:13:05.4000066' AS DateTime2))
GO
INSERT [dbo].[PropertyImages] ([Id], [File], [Enabled], [PropertyId], [CreatedAt]) VALUES (N'f0ac7494-9516-43da-d816-08dde9be7bb5', N'https://blobstoragebmez.blob.core.windows.net/images/Properties%5C20250902011727Inmueble1.jpg', 1, N'1059023b-8651-431c-8510-e763d3581300', CAST(N'2025-09-02T01:17:28.4998532' AS DateTime2))
INSERT [dbo].[PropertyImages] ([Id], [File], [Enabled], [PropertyId], [CreatedAt]) VALUES (N'c205e1e5-d9f5-4c80-d817-08dde9be7bb5', N'https://blobstoragebmez.blob.core.windows.net/images/Properties%5C20250902011839Inmueble2.jpg', 1, N'1059023b-8651-431c-8510-e763d3581300', CAST(N'2025-09-02T01:18:40.1105115' AS DateTime2))
GO
INSERT [dbo].[PropertyTraces] ([Id], [DateSale], [Name], [Value], [Tax], [PropertyId], [CreatedAt]) VALUES (N'e1ff5122-0ec7-491f-b79c-45f3120cea7c', CAST(N'2025-09-02T01:53:32.1695117' AS DateTime2), N'owner', CAST(5000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'1059023b-8651-431c-8510-e763d3581300', CAST(N'2025-09-02T01:53:32.1696576' AS DateTime2))
INSERT [dbo].[PropertyTraces] ([Id], [DateSale], [Name], [Value], [Tax], [PropertyId], [CreatedAt]) VALUES (N'a7a3a6c5-24f6-4ade-a169-bd9883fcb01a', CAST(N'2025-09-02T01:13:05.5536394' AS DateTime2), N'John Doe', CAST(5000000.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), N'1059023b-8651-431c-8510-e763d3581300', CAST(N'2025-09-02T01:13:05.5540566' AS DateTime2))
GO
INSERT [dbo].[Users] ([Id], [Email], [PasswordHash], [CreatedAt]) VALUES (N'3dbb2eed-879e-4695-2e3f-08dde9b3f30a', N'mail@mail.com', N'307C4FFB88D27AD9E85EBD9A9F20AF0317576FB90965FAF81BAAF5FD1029EF56-F112CF000A45678FA888A2DB75880421', CAST(N'2025-09-02T00:02:04.2166553' AS DateTime2))
GO
/****** Object:  Index [IX_Properties_OwnerId]    Script Date: 1/09/2025 8:57:41 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_Properties_OwnerId] ON [dbo].[Properties]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyImages_PropertyId]    Script Date: 1/09/2025 8:57:41 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_PropertyImages_PropertyId] ON [dbo].[PropertyImages]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PropertyTraces_PropertyId]    Script Date: 1/09/2025 8:57:41 p. m. ******/
CREATE NONCLUSTERED INDEX [IX_PropertyTraces_PropertyId] ON [dbo].[PropertyTraces]
(
	[PropertyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 1/09/2025 8:57:41 p. m. ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Properties] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OwnerId]
GO
ALTER TABLE [dbo].[Properties]  WITH CHECK ADD  CONSTRAINT [FK_Properties_Owners_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Owners] ([Id])
GO
ALTER TABLE [dbo].[Properties] CHECK CONSTRAINT [FK_Properties_Owners_OwnerId]
GO
ALTER TABLE [dbo].[PropertyImages]  WITH CHECK ADD  CONSTRAINT [FK_PropertyImages_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PropertyImages] CHECK CONSTRAINT [FK_PropertyImages_Properties_PropertyId]
GO
ALTER TABLE [dbo].[PropertyTraces]  WITH CHECK ADD  CONSTRAINT [FK_PropertyTraces_Properties_PropertyId] FOREIGN KEY([PropertyId])
REFERENCES [dbo].[Properties] ([Id])
GO
ALTER TABLE [dbo].[PropertyTraces] CHECK CONSTRAINT [FK_PropertyTraces_Properties_PropertyId]
GO
USE [master]
GO
